<form action="/custumer/create" method="post">
  <h2>Create new custumer</h2>

  <input type="text" placeholder="Nom" name="name">
  <input type="text" placeholder="Email" name="email">
  <input type="text" placeholder="Statut" name="state">
  <input type="submit" value="Create">

</form>
