<form action="/stock/create" method="post">
  <h2>Create stocks For <%= custumer.name %></h2>


  <input type="hidden" name="entity" value="<%=custumer.id%>">

  <input type="text" placeholder="Nom" name="name">
  <input type="text" placeholder="Prix" name="prix">
  <input type="submit" value="Save">

</form>
